*{
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}
.section{
    margin-top: 5%;
    border: 2px solid black;
    text-align: center;
    
}
h2{
    color: brown;
}

input{
    width: 25%;

    padding-left: 10px;
    padding-right: 10px;

}
button{
    width: 10%;
    border-radius: 9px;
    background-color: brown;
    color: white;
}
span{
    border: 1px solid;
    padding: 7px 10px;
}
li{
    list-style-type: none;
    margin-bottom: 20px;


}
